* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-zero: #5289db;
    --color-one: #408cff;
    --color-two: #1c48c2;
    --color-three: #e6d123;
    --color-four: #dc9725;
    --color-five: #6767c0;
    --color-six: #47479c;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: var(--color-six);
}

input {
    border-radius: 3px;
    border: 2px solid var(--color-two);
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-bottom: 4px dashed var(--color-six);
    background-color: var(--color-five);
}

.header--button {
    height: 45px;
    min-width: 175px;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    border-bottom-color: var(--color-two);
    border-right-color: var(--color-two);
    border-top-color: var(--color-one);
    border-left-color: var(--color-one);
    color: var(--color-one);
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: white;
}

.header--button:hover {
    border-bottom-color: var(--color-one);
    border-right-color: var(--color-one);
    border-top-color: var(--color-two);
    border-left-color: var(--color-two);
    color: var(--color-two);
}

#key-logger.active {
    background-color: var(--color-zero);
    border-bottom-color: var(--color-one);
    border-right-color: var(--color-one);
    border-top-color: var(--color-two);
    border-left-color: var(--color-two);
    color: var(--color-two);
}

header label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#import {
    display: none;
}

.key--list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 10px auto;
    font-size: 1.6rem;
}

.keys {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 435px;
    margin: 3px 15px;
    border-radius: 5px;
    list-style-position: inside;
    background-color: var(--color-zero);
}

.keys--letter {
    width: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.keys--type {
    height: 20px;
    width: 75px;
    padding-left: 5px;
}

.keys--type[value=stop] + .keys--url {
    background-color: red;
    pointer-events: none;
    content: none;
}

.keys--type[value=stop] + .keys--url[value] {
    content: none;
}

.keys--url {
    height: 20px;
    width: 250px;
    padding-left: 3px;
}

.keys--button {
    height: 20px;
    width: 40px;    
    border-radius: 3px;
    border: 2px solid var(--color-two);
    background-color: white;
    font-weight: bold;
}

.keys--button:hover {
    background-color: var(--color-one);
    color: white;
}